
.starter-template {
    padding: 90px 15px;
    text-align: center;
}

.navbar {
    opacity: .65;
    width: 100%;
}

input {
    max-width: 300px;
    min-width: 40px;
}

textarea {
    max-width: 200px;
    min-width: 40px;
    max-height: 100px;
}

.error {
    color: red;
}

.navbar-wrapper {
    max-width: 100%;
}

body {
    max-width: 100%;
}

#map {
    min-width: 900px;
    max-width: 55%;
    max-height: 700px;
    height: 100%;
    float: left;
}

.moving-details {
    font-size: 50px;
}

.moving-paragraph {
    font-size: 35px;
}

html, body, .details {
    height: 100%;
    margin: 0;
    padding: 0;
}

.details {
    padding-left: 10%;
    padding-right: 10%;
    max-height: 600px;
    min-height: 550px;
}

.details-general {
    text-align: left;
    float: right;
    padding-left: 50px;
    overflow: hidden;
    min-width: 25%;
}


.travel-button {
    background-color: #a7d6b0;

}

.travel-details {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.travel h2 {
    font-size: 40px;
}

.jumbotron {
    max-height: 35%;
    text-align: center;
    background-color: white;
}

.registry {
    width: 100%;
    text-align: center;
    min-height: 400px;
}

.registry h2 {
    font-size: 40px;
}

.registr-1 {
    float: left;
    padding-left: 25%;
}

.registr-2 {
    float: right;
    padding-right: 25%;
}

@media only screen and (max-width: 1700px) {
    
    #map {
        min-width: 700px;
        max-height: 600px;
        height: 100%;
        float: left;
    }
}

@media only screen and (max-width: 1435px) {
    
    #map {
        min-width: 600px;
        max-height: 500px;
        height: 100%;
        float: left;
    }
    
    .moving-details {
        font-size: 40px;
    }
    
    .moving-paragraph {
        font-size: 25px;
    }

}

@media only screen and (max-width: 1164px) {
    
    #map {
        float: none;
        display: inline-block;
        padding-left: 25%;

    }
    
    .details {
        text-align: center;
        max-height: 900px;
        min-height: 900px;
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .details-general {
        text-align: center;
        float: none;
        overflow: hidden;
        min-width: 25%;
        display: inline-block;
        padding-left: 0px;
    }
    
}

@media only screen and (max-width: 767px) {
    #map {
        float: none;
        display: inline-block;
        padding-left: 25%;
        min-width: 275px;
        max-height: 275px;
        
    }
    
    .jumbotron h1 {
        padding-top: 10px;
    }
    
    .details {
        text-align: center;
        max-height: 700px;
        min-height: 700px;
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .details-general {
        text-align: center;
        float: none;
        overflow: hidden;
        min-width: 25%;
        display: inline-block;
        padding-left: 0px;
    }
    
    .registr-1 {
        float: none;
        padding-left: 0px;
        width: 80%;
        margin: auto;
    }
    
    .registr-2 {
        float: none;
        padding-right: 0px;
        width: 80%;
        margin: auto;
    }
}
