{% extends "rsvp_app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="about-details">
    <div class="couplecenter">
    <div class="couple">
        <img src="{% static 'photos/Couple.jpg' %}">
    </div>
    </div>
    <div class="couple-details">
        <h2>About Us</h2>
        <p>We met in Kansas. Didn't like each other. Fell in love immediately.
            After our honeymoon we will be moving out to Wichita</p>
    </div>
</div>
<hr class="about-hr">

<div class="row featurette about-feature">
    <div class="col-md-7">
        <h2 class="featurette-heading">The Bride: Sarah Thompson<br> <span class="text-muted">Swiggity Swag Coach</span></h2>
        <p class="lead">Sarah is blah blah blah</p>
            </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="{% static 'photos/Sarah1.jpg' %}" alt="Generic placeholder image">
            </div>
</div>

<hr class="about-hr">

<div class="row featurette about-feature">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">The Groom: Carter Fawson<br> <span class="text-muted">is stinky</span></h2>
        <p class="lead">Carter is a superhuman being comparable to a robot with a g force of 1000. He recently graduated from Utah State University</p>
            </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image2 featurette-image img-responsive center-block" src="{% static 'photos/carter1.jpg' %}" alt="Generic placeholder image">
            </div>
</div>
<hr>
<div id="links" class="photo-library">
    <div class="photo-img">
        <a href="{% static 'gallery/1.jpg' %}" title="Dallas, Texas" data-gallery>
            <img src="{% static 'photos/camera.JPG' %}">
        </a>
        <p>Click the camera for more photos!</p>
    </div>

    <a href="{% static 'gallery/26.JPG' %}" title="The Woodlands, Texas" data-gallery>
    </a>
    <a href="{% static 'gallery/2.jpg' %}" title="Grand Teton National Park" data-gallery>
    </a>
    <a href="{% static 'gallery/3.JPG' %}" title="Tony Grove, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/4.JPG' %}" title="Austin, Texas" data-gallery>
    </a>
    <a href="{% static 'gallery/5.JPG' %}" title="Norman, Oklahoma" data-gallery>
    </a>
    <a href="{% static 'gallery/teets.jpg' %}" title="Grand Teton National Park" data-gallery>
    </a>
    <a href="{% static 'gallery/7.JPG' %}" title="El Matador State Beach, California" data-gallery>
    </a>
    <a href="{% static 'gallery/8.JPG' %}" title="Dallas, Texas" data-gallery>
    </a>
    <a href="{% static 'gallery/9.JPG' %}" title="Dallas, Texas" data-gallery>
    </a>
    <a href="{% static 'gallery/10.JPG' %}" title="Dallas, Texas" data-gallery>
    </a>
    <a href="{% static 'gallery/11.JPG' %}" title="Los Angeles, California" data-gallery>
    </a>
    <a href="{% static 'gallery/12.JPG' %}" title="Los Angeles, California" data-gallery>
    </a>
    <a href="{% static 'gallery/13.jpg' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/14.jpg' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/15.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/16.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/17.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/18.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/19.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/20.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/21.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/22.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/23.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/24.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
    <a href="{% static 'gallery/25.JPG' %}" title="Cottonwood Canyon, Utah" data-gallery>
    </a>
</div>

<hr>

<div id="travel-map">
    <img class="travel-map" src="{% static 'photos/travelmap.jpg' %}">
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-form">
    <form action="{% url 'about' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit" class="btn btn-success" name="about">Submit</button></p>
    </form>
</div>

{% endblock %}