{% extends "rsvp_app/layout.html" %}
{% block content %}
{% load staticfiles %}

{% if error %}
<div class="container">
    
    <div class="starter-template">
        <h1 class="error">Incorrect Submission</h1>
        <p class="lead">Not all required fields were filled. Name, Email, Address, City, State, Zip, Phone, and Number of Guests are all required to RSVP.</p>
        <form action="{% url 'rsvp' %}" method="post">
            {% csrf_token %}
            {{ rsvpform.as_p }}
            <p><button type="submit" class="btn btn-success" name="rsvp">Submit</button></p>
        </form>
    </div>
    
</div>
{% else %}
{% if wrong %}
<div class="container">
    
    <div class="starter-template">
        <h1 class="error">Wrong Code</h1>
        <p class="lead">Please check the back of your invitation for the RSVP code and enter it again below.</p>
        <form action="{% url 'rsvp' %}" method="post">
            {% csrf_token %}
            {{ codeform.as_p }}
            <p><button type="submit" class="btn btn-success" name="rsvp">Submit</button></p>
        </form>
    </div>
    
</div>
{% else %}
{% if flag %}
{% if finished %}
<div class="container">

    <div class="starter-template">
        <h1 class="error">Thank You!</h1>
        <p class="lead">We have recieved your information and we look forward to seeing you at the wedding!</p>
    </div>

</div>
{% else %}
<div class="container">
    
    <div class="starter-template">
        <h1>Enter RSVP Code</h1>
        <p>Check the back of your invitation to find the RSVP code and enter it below.</p>
        <form action="{% url 'rsvp' %}" method="post">
            {% csrf_token %}
            {{ codeform.as_p }}
            <p><button type="submit" class="btn btn-success" name="rsvp">Submit</button></p>
        </form>
    </div>
    
</div>
{% endif %}
{% else %}
<div class="container">
    
    <div class="starter-template">
        <h1>Your Information</h1>
        <p class="lead">Please fill out this form so that we can plan to accomodate all guests attending.</p>
        <form action="{% url 'rsvp' %}" method="post">
            {% csrf_token %}
            {{ rsvpform.as_p }}
            <p><button type="submit" class="btn btn-success" name="rsvp">Submit</button></p>
        </form>
    </div>
    
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}